doctype html
html(lang='ru')
	head
			title My new project
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			link(rel='shortcut icon', href='/assets/img/favicons/favicon.ico')   
			link(rel='stylesheet', href='/assets/css/main.css')
		body
			h3 Say hello to your mother for me!
			p And say hello to your sister
			script(src='/assets/js/jquery-2.1.1.min.js')
			script(src='/assets/js/script.js', type='text/javascript')
